doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
h2 Type new password
input#password(type='text' placeholder='new password')
h2 Confirm new password
input#confirmPassword(type='text' placeholder='confirm password')
button#ChangePasswordButton Change password
script.
  let button = document.getElementById("ChangePasswordButton");
  button.addEventListener('click', async () => {
    let ip = "#{ip}"
    let port = "#{port}"

  let password = document.getElementById("password")
  let confirmPassword = document.getElementById("confirmPassword")
  if (password.value !== confirmPassword.value) {
  document.body.innerHTML=document.body.innerHTML+"<h3>Password must be same <h3/>"
  } else {
    alert(`http://${ip}:${port}/changePassword?password=${password.value}`);
  let request =await  fetch(`http://${ip}:${port}/changePassword?password=${password.value}`, {
  method: 'PATCH',
  headers: {
  Accept: 'application/json',
  'Content-Type': 'application/json'
  },
  });
 request = await request.json()
 alert(request.message);
  }
  });
